<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.jw.mapable.gm">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:icon="@mipmap/ic_launcher_appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyq2L1lo9PtlnCQKtnvy3FndjjuVNUGio" />
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />


        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aftersearch.AfterSearchActivity"/>
        <activity android:name=".aftersearch.AfterSearchDisabledActivity"/>
        <activity android:name=".start.StartActivity"/>
        <activity android:name=".start.StartDisabledActivity"/>
        <activity android:name=".afterroad.AfterRoadActivity"/>
        <activity android:name=".setting.SettingActivity"/>
        <activity android:name=".firstsetting.FirstSettingActivity"/>
        <activity android:name=".firstsetting.FirstSettingDisabledActivity"/>
        <activity android:name=".firstsetting.FirstSettingEnabledActivity"/>
        <activity android:name=".search.SearchActivity"/>
        <activity android:name=".explain.ExplainActivity"/>
        <activity android:name=".setting.UserSettingActivity"/>
        <activity android:name=".info.InfoActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.SignUpActivity"/>
        <activity android:name=".community.CommunityActivity"
            android:theme="@style/WithActionBar"/>
        <activity android:name=".notice.NoticeActivity"/>
        <activity android:name=".notice.NoticeDetailActivity"/>
        <activity android:name=".community.CommunityMyMoreActivity"/>
    </application>
</manifest>